<div class="reviews">
  <div class="display-reviews">
    <% if @event.reviews.empty? %>
      <p>Be the first to leave a review!</p>
    <% else %>
        <p>Rating: <%= @event.my_rating %></p>
        <% @event.reviews.each do |review| %>
          <div class="review">
            <div class="content">
              <p><% review.rating.times do %>
                ⭐
                <% end %>
                <em> <%= review.reviewer.username %></em>
              </p>
              <p><%= review.content %></p>
            </div>
            <% if review.reviewer == current_user %>
              <%= link_to review_path(review), method: :delete,
                  data: { confirm: "Are you sure?" }, class:"delete-review" do %>
                <p><i class="fas fa-trash"></i> Delete</p>
              <% end %>
            <% end %>
          </div>
          <% unless review == @event.reviews.last %>
            <hr>
          <% end %>
          <% end %>
    <% end %>
  </div>
  <div class="new-review">
    <%= render "form_event", event: @event, review: @review %>
  </div>
</div>
